body {
    background-color: #141519;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-div {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: 48%;
    width: 22%;
    min-height: fit-content;
    background-image: linear-gradient(#222933, #1e252f, #19202a);
}

.inner-content {
    margin-top: 2%;
    margin-left: 6%;
}

.circle-div {
    background-color: #262f38;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fbfdfe;
    margin-top: 10%;
}

.button-row {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    gap: 10%
}

.circle-button {
    border: none;
    height: 2vw;
    width: 2vw;
    background-color: #262f38;
    border-radius: 50%;
    color: #88909c;
}

#submit {
    background-color: #fc7613;
    border: none;
    border-radius: 25px;
    height: 11%;
    width: 85%;
    margin-left: 5%;
    color: #fff0c2;
    margin-top: 10%;
}

@media(max-width: 768px) {
    .main-div {
        width: fit-content;
        height: 35%;
    }

    .circle-button {
        height: 8vw;
        width: 8vw;
    }

    #submit {
        
    }
}